{% extends "menu.html" %}
{% block title %}Forslag – SND{% endblock %}

{% block menu_forslag %}class="active"{% endblock %}

{% block content %}
<h1>Forslag</h1>

<article style="width: 30em">
    <p>Savner du et ord eller begreb på dansk? Send et databrev til
    <a href="mailto:forslag@datalogi.dk">forslag@datalogi.dk</a> også
    tager vi det op!</p>

    <p>Hvis du gerne vil være mere involveret, ved f.eks. at deltage i
    diskussionen, bør du overveje et <a href=
    "/medlemskab.html">gratis medlemsskab</a>.</p>
</article>
{% endblock %}
