{% extends "menu.html" %}
{% block title %}{% endblock %}

{% block content %}
<h1>Sprognævn for Datalogi</h1>

<article style="width: 30em">
    <p>
        Det er synd, at vi ikke kan tale om datalogi på dansk.
        Alt for mange af ordene er engelske eller fordanskninger.
        Sprognævn for Datalogi er en forening, hvor vi samler og
        supplerer det danske sprog med datalogibegreber.
        Det er plads til kreativitet og vi låner gerne (helst
        endda!) fra andre lande. Definitionerne er skrevet af og
        til dataloger, men de er tilgængelige for alle.
    </p>
</article>
{% endblock %}
