{% extends "menu.html" %}
{% block title %}Medlemskab – SND{% endblock %}

{% block menu_medlem %}class="active"{% endblock %}

{% block content %}
<h1>Medlemskab</h1>

<article style="width: 30em">
    <p>Sprognævn for Datalogi er baseret på frivilligt arbejde.</p>

    <p>
        Du kan blive involveret ved f.eks. at deltage på
        vores <a href="https://freelists.org/list/datalogi">mailing
        liste</a>. Hvis du savner et begreb eller vil rette en definition, kan
        du henvende dig her.
    </p>

    <p>Alle er desuden velkomne til at hjælpe med kildekoden, som er frit
    tilgængelig <a href="https://github.com/datalogi">her<a>.
</article>
{% endblock %}
