{% extends "base.html" %}

{% block body %}
<div id="content">
    <nav id="vertical-menu">
        <a href="/index.html">Sprognævn for Datalogi</a>
        <a href="/leksikon.html" 
           {% block menu_leksikon %}{% endblock %}>Leksikon</a>
        <a href="/ordbog.html"
           {% block menu_ordbog %}{% endblock %}>Ordbog</a>
        <a href="/forslag.html"
           {% block menu_forslag %}{% endblock %}>Indsend forslag</a>
        <a href="/medlemskab.html"
           {% block menu_medlem %}{% endblock %}>Bliv medlem</a>
    </nav>
    
    <div>
    {% block content %}
    {% endblock %}
    </div>
</div>
{% endblock %}
