{% extends "base.html" %}

{% block style %}
{{ super() }}

#content {
    display: flex;
    height: 100%;
}

#vertical-menu {
    display: inline-block;
    background-color: #eee;
    border-right: 1px solid #CCCCCC;
    margin-right: 0.5em;
}

#vertical-menu a {
    color: #000000;
    display: block;
    padding: 10px;
    text-decoration: none;
}

#vertical-menu a:hover {
    background-color: #ccc;
}

#vertical-menu a.active {
    background-color: #666666;
    color: #fafafa;
}

#vertical-menu > a:nth-child(1) {
    background-color: #E31836;
    text-align: center;
    color: #FFFFFF;
    padding-top: 14px;
    padding-bottom: 14px;
}
{% endblock %}

{% block body %}
<div id="content">
    <nav id="vertical-menu">
        <a href="/index.html">Sprognævn for Datalogi</a>
        <a href="/leksikon.html" 
           {% block menu_leksikon %}{% endblock %}>Leksikon</a>
        <a href="/ordbog.html"
           {% block menu_ordbog %}{% endblock %}>Ordbog</a>
        <a href="/forslag.html"
           {% block menu_forslag %}{% endblock %}>Forslag</a>
        <a href="/medlemskab.html"
           {% block menu_medlem %}{% endblock %}>Medlemskab</a>
    </nav>
    
    <div>
    {% block content %}
    {% endblock %}
    </div>
</div>
{% endblock %}
